<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
google.load('visualization', '1', {packages: ['geomap']});
 
 $(function() {

   google.setOnLoadCallback(drawMap);

    function drawMap() {
         // when document loads, grab the json
         $.getJSON('data.json', function(data) {
             // once grabbed, we run this callback
 
             // setup the new map and its variables
             var map = new google.visualization.DataTable();
                 map.addRows(data.length);  // length gives us the number of results in our returned data
          
         
          map.addColumn('number', 'LATITUDE', 'Latitude');
map.addColumn('number', 'LONGITUDE', 'Longitude');
map.addColumn('number', 'VALUE', 'Value'); 
 map.addColumn('string', 'HOVER', 'HoverText');
// Won't use this column, but still must define it.

 
             // now we need to build the map data, loop over each result
             $.each(data, function(i,v) {
                 // set the values for both the name and the population
                 map.setValue(i, 0, v.lat);
                 map.setValue(i, 1, v.long);
                 map.setValue(i, 3, v.text);
             });

              var options = {};
              options['colors'] = [0xFF8747, 0xFFB581, 0xc06000]; //orange colors
              options['dataMode'] = 'markers';
              options['datalessRegionColor']='#27ae60';
              options['width'] = '1200px';
              options['height'] = '900px';
              options['showLegend'] = false;
             // finally, create the map!
             var geomap = new google.visualization.GeoMap(
               document.getElementById('visualization'));
                  geomap.draw(map, options);
 
         });
};
});
 
    </script>
  </head>
  <body>
    <div id="visualization"></div>
  </body>
</html>