<div class="header">
								<h1><div class="img-left"><%= image_tag("cactus.gif", size: "40", float:"left") %></div>Tucson <span class="smaller-text">BY</span> Tweet<div class="img-right"><%= image_tag("cactus.gif", size: "40", float: "right") %></div></h1>
</div>
<div id="content" class="main"></div>
